
<%= cart.each do |item| %>
    <%= item %>
<% end %>

<%= form_tag 'products/add' do %>
    <label>Product name:</label><br>
    <%= text_field_tag :'product' %>
    <%= submit_tag 'add to cart' %>
<% end %>